/*
@font-face {
    font-family: "Neutra2Text";
    src:url('../fonts/Neutra2Text-Demi.otf') format("opentype");
    font-weight: 400;
  }

  @font-face {
      font-family: "Neutra2Text";
      src:url('../fonts/Neutra2Text-Bold.otf') format("opentype");
      font-weight: 700;
    }
*/
