{% extends "_layout" %}

{% block content %}
<div class="container" data-barba="container" data-barba-namespace="home">
        <div class="centerBox">
                <div class="animate">
                        <h1>{{ siteName }}</h1>
                        <p><a href="/ready">next</a></p>
                </div>
        </div>        
</diV>
{% endblock %}
