{% extends "_layout" %}

{% block content %}
<div class="container page-ready" data-barba="container" data-barba-namespace="ready">
        <div class="centerBox">
                <div class="animate">
                        <p>bundeld with the power of barba.js + gsap</p>
                        <p><a href="/">return</a></p>
                </div>  
        </div>        
</diV>
{% endblock %}
